.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.button {
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: auto;
    margin-top: 10px;
    font-size: 18px;
    color: #FFFFFF;
    justify-content: center;
}